<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>768401426835-d2r9inrm1i2d13lpa9ass7oss156rbgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768401426835-d2r9inrm1i2d13lpa9ass7oss156rbgp</string>
	<key>API_KEY</key>
	<string>AIzaSyC5LKO8ZYHndvZbJgGWGFlS4G92gu_Z41o</string>
	<key>GCM_SENDER_ID</key>
	<string>768401426835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cat.amb.busondemand</string>
	<key>PROJECT_ID</key>
	<string>bus-a-demanda</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-a-demanda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768401426835:ios:6fc41bfef324fa16</string>
	<key>DATABASE_URL</key>
	<string>https://bus-a-demanda.firebaseio.com</string>
</dict>
</plist>